.login{
  float: right;
  color: white;
}

.login a{
  color: white;
}
.header {
  /* даем псевдоним */
  grid-area: h;
  background-color: black;
  position: sticky;
  top: 0;
}

.header img {
  width: 5%;
  margin: 10px;
}
