.profileInfo{
  text-align: center;
}

.loading {
  text-align: center;
}

.loading img{
  width: 10%;
}

.img img {
  width: 100%;
}

.avatarDesc {
  padding: 10px;
}

.avatarDesc img {
  width: 10%;
}
