.app-wrapper {
  /* используем div как сетку */
  display: grid;
  /* указываем размер колонок и строк */
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  /* строим расположение по псевдонимам */
  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  /* даем псевдоним */
  grid-area: c;
  background-color: green;
}
